@model IEnumerable<Berber44.Models.Calisan>
<div class="mt-5 text-center">
    <a href="@Url.Action("Index", "Salon")" class="btn btn-sm btn-primary mx-2">Salon Yönetimi</a>
    <a href="@Url.Action("Index", "Islem")" class="btn btn-sm btn-info mx-2 text-white">İşlem Yönetimi</a>
    <a href="@Url.Action("Index", "Randevu")" class="btn btn-sm btn-success mx-2">Randevu Yönetimi</a>
    <a href="@Url.Action("UserList", "Admin")" class="btn btn-sm btn-warning mx-2">Kullanıcı Yönetimi</a>
    <a href="@Url.Action("RandevuYonetimi", "Admin")" class="btn btn-sm btn-warning mx-2">Randevu Api Yönetimi</a>

</div>
@{
    ViewData["Title"] = "Çalışan Listesi";
}

<h1>Çalışan Listesi</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Yeni Çalışan Ekle</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Uzmanlık Alanı</th> <!-- Add this -->
            <th>Salon</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Ad</td>
                <td>@item.Soyad</td>
                <td>@item.UzmanlikAlanlari</td> <!-- Add this -->
                <td>@item.Salon?.Ad</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

