<div class="container text-center mt-5">
    <h1 class="mb-4">Berber44 Uygulaması Yetkili Paneli</h1>
   

    <div class="d-flex justify-content-center gap-3">

        <!-- Salon Yönetimi -->
        <a href="@Url.Action("Index", "Salon")" class="btn btn-primary px-4 py-2">Salon Yönetimi</a>
        <!-- Çalışan Yönetimi -->
        <a href="@Url.Action("Index", "Calisan")" class="btn btn-primary px-4 py-2">Çalışan Yönetimi</a>
        <!-- İşlem Yönetimi -->
        <a href="@Url.Action("Index", "Islem")" class="btn btn-primary px-4 py-2">İşlem Yönetimi</a>
        <!-- Randevu Yönetimi -->
        <a href="@Url.Action("Index", "Randevu")" class="btn btn-primary px-4 py-2">Randevu Yönetimi</a>
        <!-- Kullanıcı Yönetimi -->
        <a href="@Url.Action("UserList", "Admin")" class="btn btn-primary px-4 py-2">Kullanıcı Yönetimi</a>
        <!-- Randevu Api Yönetimi -->
        <a href="@Url.Action("RandevuYonetimi", "Admin")" class="btn btn-primary px-4 py-2">Randevu Api Yönetimi</a>

    </div>
  </div>
